# Виртуальное окружение
Lib/
Scripts/
pyvenv.cfg

# Альтернативно, если переместишь venv в папку venv/
venv/
env/
ENV/
env.bak/
venv.bak/

# Файлы компиляции
__pycache__/
*.py[cod]
*$py.class

# IDEs
.idea/
.vscode/

# Секреты
.env
/example.txt
